/* =============
    Footer
============= */
footer{
    background-color: $nude1;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
    section {
        float: left;
    }
    
    aside {
        float: right;
    }
}
    

    
    
 